version: 2
updates:
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: weekly
      day: saturday
      time: "01:00"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 20
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: saturday
      time: "01:00"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 20
