name: Security audit
on:
  pull_request:
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"
  # Bors related branches
  push:
    branches:
      - master
      - staging
      - trying
  schedule:
    - cron: "0 0 * * *"

permissions: read-all

jobs:
  security_audit:
    name: Rustsec Audit
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/audit@v1
        name: Audit Rust Dependencies
        with:
          # RUSTSEC-2021-0139: ansi_term is Unmaintained
          # Transitive dependency of pretty_assertions
          ignore: RUSTSEC-2021-0139
